body, html {
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("../assets/login.webp") no-repeat center;
    background-size: 115% 115%;
    .page-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        .page-title {
            text-decoration: none;
            color: green;
            margin: 10px;
        }
        .login-form-container {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            form {
                display: flex;
                flex-direction: column;
                width: 40%;
                padding: 20px;
                padding-right: 40px;
                padding-left: 40px;
                margin-bottom: 100px;
                background-color: #454246;
                box-shadow: 0 14px 8px rgba(0,0,0,0.5);
                min-width: 300px;
                min-height: 40%;
                border-radius: 10px;
                transition: all 0.3s ease;
                h2{
                    font-size: 2rem;
                    color: white;
                    margin: 10px;
                }
                .form-group {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                    input, select{
                        font-size: 1.2rem;
                        width: 100%;
                        padding: 8px;
                        border: 3px solid green;
                        border-radius: 25px;
                    }
                }
                button {
                    margin-top: 20px;
                    font-size: 1.2rem;
                    width: 100%;
                    padding: 20px;
                    background-color: #2c662d;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover {
                        background-color: #1e4720;
                    }
                }
                .reg{
                    color: white;
                    margin-top: 20px;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    form {
        width: 100%;
        min-height: 0%; 
    }
    body, html {
        background-size: 200% 140%;
    }
}

@media (max-width: 480px) {
    .page-container .login-form-container form {
        width: 85%;
        box-shadow: none;
        form {
            min-width: 10px;
        }
    }
}